#rules-div{
  width: 500px;
}

#rule-list{
  list-style-type: none;
}

.rule-input{
  background-color: #141414;
  color: #FFF;
  border-color: #101010;
  width: 380px;
  height: 30px;
  font-size: 12pt;
  margin: 4px 0;
}
